@charset "utf-8";

@font-face { 
	font-family: mysecondfont;
	src: url("../fonts/Bungee-Inline.otf") format("opentype");
}
@font-face {
	font-family: myFirstFont;
	src: url("../fonts/rosewood-regular.otf") format("opentype");
}
@font-face {
font-family: mythirtfont;
src: url("../fonts/bungee-shade.ttf") format("TrueType");
}
@font-face {
font-family: myquartafont;
src: url("../fonts/bungee.ttf") format("Opentype");
}
/*parametro corpo do site*/
body {
background: linear-gradient(to right, #FF4040, #FFFF48);
}
/*rolação mais suave nas alcoras*/
html {
  scroll-behavior: smooth;
}
/*Parâmetro dos links contino no site*/
a:link, a:visited, a:active, a:hover {
	color: #000000;
	text-decoration: none;
}
/*Parâmetros cabeçalho da pagina*/
header{
	position: absolute;
	width: 100%;
	height: 6.7vw;
    top: 0%;
	left: 0vw;
    background: linear-gradient(to right, #FF0004, yellow);
	font-family: myFirstFont;
}
/*parametros objetos contido no cabeçalho*/
/*logo*/
.logo {
    position: absolute;
    top: 0.4vw;
    left: 37%;
	right: 50%;
    width: 27%;
    transition: 0.5s;
}
.logo:hover {
        transform: scale(1.1);
}
/*home*/
.home {
    font-size: 4.6vw;
    position: absolute;
    top: 20%;
    left: 1%;
    width: 11.1%;
	right: auto;
    height: 80%;
    transition: all 0.2s ease;
    color: #000000;
	opacity: 1;
}
.home:hover {
	opacity: 0.6;
}
/*cardápio*/
.cardápio {
    font-size: 4.6vw;
    position: absolute;
	width: 20.9%;
    top: 20%;
    left: 14%;
	right: auto;
	height: 80%;
	transition: all 0.2s ease;
	color: #000000;
	opacity: 1;
}
.cardápio:hover {
	opacity: 0.6
}
/*sobre*/
.sobre {
    font-size: 4.6vw;
    position: absolute;
    width: 13.5%;
	height: 80%;
    top: 20%;
    left: 66%;
	right: auto;
    transition: 0.2s ease;
    color: #000000;
	opacity: 1;
}
.sobre:hover {
	opacity: 0.6;
}
.contato {
    font-size: 4.6vw;
    position: absolute;
	width: 18.5%;
    top: 20%;
	height: 80%;
    left: auto;
	right: 1%;
    transition: 0.2s;
	color: #000000;
	opacity: 1;
}
.contato:hover {
	opacity: 0.6;
}
/*Parâmetros section*/
.imagemprincipal {
    position: absolute;
    top: 6.7vw;
    left: 0px;
    width: 100%;
}
	/*parâmetros da seta âncora posicionada na section*/
.setdown {
    position: absolute;
    top: 40vw;
    left: 81vw;
    width: 6.5vw;
    height: 5vw;
    opacity: 0.5;
    display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	animation-name: set-up, setdown;
	animation-duration: 1.5s, 1s;
	animation-delay: 0s, .3s;
	animation-timing-function: ease-out, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-fill-mode: both;
	animation-direction: normal, alternate;
}
@keyframes
setdown {
	0% {
    transform: translateY(-3px);
	}
	100% {
    transform: translateY(6px);
	}
}
/*ancora para levar apresentar aos clientes as opções de lanche*/
#ancoraescolha {
	position: absolute;
	width: 100%;
	left: 0vw;
	top: 45vw;
	font-size: 3.2vw;
	font-family: mysecondfont;
	text-align: center;
}
#escpedido {
	position: absolute;
	width: 45%;
	top: 64.7vw;
	left: 27.5vw;
	height: 9vw;
	background: #E53434;
	font-size: 3.5vw;
	color: ghostwhite;
	font-family:mysecondfont;
	text-align: center;
	border-style: dotted;
	border-width: 2px;
	border-radius: 2vw;
}
/*imagens das opções de lanches com seu respectivos links*/
.imgcx {
	position: absolute;
	top: 76vw;
	left: 0.5vw;
	width: 45vw;
	height: 30vw;
	border-style:groove;
	border-color:#FFF500;
	border-radius: 0.5vw;
}
.imgcb {
	position: absolute;
	top: 76vw;
	right: 0.5vw;
	width: 45vw;
	height: 30vw;
	border-style:groove;
	border-color:#FF0000;
	border-radius: 0.5vw;
}
.imgx {
	position: absolute;
	top: 109vw;
	left: 0.5vw;
	width: 45vw;
	height: 30vw;
	border-style:groove;
	border-color:#FFF500;
	border-radius: 0.5vw;
}

.imgdog {
	position: absolute;
	top: 109vw;
	right: 0.5vw;
	width: 45vw;
	height: 30vw;
	border-style:groove;
	border-color:#FF0000;
	border-radius: 0.5vw;
}
.imgpor {
	position: absolute;
	top: 142vw;
	left: 0.5vw;
	width: 45vw;
	height: 30vw;
	border-style:groove;
	border-color:#FFF500;
	border-radius: 0.5vw;
}
.imgpest {
	position: absolute;
	top: 142vw;
	right: 0.5vw;
	width: 45vw;
	height: 30vw;
	border-style:groove;
	border-color:#FF0000;
	border-radius: 0.5vw;
}
.imgbeb {
	position: absolute;
	top: 175vw;
	right: 0.5vw;
	width: 97.2vw;
	border: groove #000;
	border-image: linear-gradient(to right,#FFFF00, #FF0000);
	border-image-slice: 1;
	border-radius: 0.5vw;
}
/*inicio da div almoço contendo seus parametros*/
.almoço {
	position: absolute;
	width: 95.5%;
	left: 2.2vw;
	top: 203.5vw;
	font-size: 3.6vw;
	font-family: mythirtfont;
	text-align: center;
	border: 1px inset #000;
	border-radius: 1vw;
	
}
.alafrango {
	position: absolute;
	width: 50%;
	left: 24vw;
	top: 215vw;
	font-size: 2.5vw;
	font-family:mysecondfont;
	text-align: center;
	text-decoration:underline;
}
.imgalafrango {
	position: absolute;
	width: 93.2%;
	left: 3vw;
	top: 223vw;
	height: 30vw;
	border: groove #000;
	border-style:groove;
	border-color:#FFF500;
	border-radius: 0.5vw;
}
/*informações horario de funcionamento, pagamentos e locais de entrega*/
.timefunc {
	position: absolute;
	width: 42%;
	left: 0vw;
	top: 252vw;
	font-size: 2.4vw;
	font-family:mysecondfont;
	background:#E83F00;
	height: 20vw;
	text-decoration-line: underline;
}
.timesfunc{
	position: absolute;
	width: 33.1%;
	right: 61.5vw;
	top: 258.4vw;
	font-size: 1.9vw;
	font-family:myquartafont;
}
.formpay{
	position: absolute;
	width: 30%;
	right:29vw;
	top: 252vw;
	font-size: 2.4vw;
	font-family:mysecondfont;
	background:#E83F00;
	height: 20vw;
	text-align: center;
	text-decoration-line: underline;
}
.meiopay {
	position: absolute;
	width: 20.5%;
	right: 27.6vw;
	top: 258.4vw;
	font-size: 1.9vw;
	font-family:myquartafont;
}
.abbrcard {
	text-decoration:none;
}
.localentr {
	position: absolute;
	width: 30%;
	right:0vw;
	top: 252vw;
	font-size: 2.4vw;
	font-family:mysecondfont;
	background:#E83F00;
	height: 20vw;
	text-align: center;
	text-decoration-line: underline;
}
.locaisentr {
	position: absolute;
	width: 20.5%;
	right: 0vw;
	top: 258.4vw;
	font-size: 1.9vw;
	font-family:myquartafont;
}
/*informações de contato tele dog*/
.dadoscontato {
	position: absolute;
	width: 100%;
	left: 0vw;
	top: 269.5vw;
	font-size: 4vw;
	font-family:mysecondfont;
	background:#E83F00;
	text-align: center;
	height: 43vw;
	text-decoration-line: underline;
}
.meioscontatoend {
	position: absolute;
	width: 89.9%;
	left: 8vw;
	top: 277.6vw;
	font-size: 2.85vw;
	font-family:mysecondfont;
}
.meioscontatocel {
	position: absolute;
	width: 89.9%;
	left: 8vw;
	top: 281vw;
	font-size: 2.85vw;
	font-family:mysecondfont;
}
.iconwhats {
	position: absolute;
	width: 5.5%;
	left: 0.2vw;
	top: 283vw;
	}
.iconface {
	position: absolute;
	width: 5.5%;
	left: 0.2vw;
	top: 290vw;
}
.iconinsta {
	position: absolute;
	width: 6.3%;
	left: -0.5vw;
	top: 297vw;
}
.iconyoutube {
	position: absolute;
	width: 5.5%;
	left: 0.3vw;
	top: 304.2vw;
}
.icongmail{
	position: absolute;
	width: 6.4%;
	left: 0vw;
	top: 310.2vw;
}
.maps {
	position: absolute;
	top: 290vw;
	width: 91.4vw;
	left: 6.5vw;
	height: 25.25vw;
}
